main {
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
}

/* TODO: AppShell styles should be applied in the theme object, not here */
.mantine-AppShell-aside,
.mantine-AppShell-navbar {
  max-width: 470px;

  @media (max-width: 768px) {
    width: calc(100vw - 15px);
  }
}

p:has(img) {
  overflow: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

dd,
dt,
dl {
  margin: 0;
}

/* TODO: Container root styles should be applied in the theme object, not here */
.mantine-Container-root {
  width: 100%;
  max-width: 1200px;
  padding-block: 15px;

  @media (min-width: 992px) {
    padding-block: 30px;
  }
}

section:not(:last-child) {
  margin-bottom: 50px;
}

.mantine-Carousel-control svg {
  width: calc(1.2rem * var(--mantine-scale)) !important;
  height: calc(1.2rem * var(--mantine-scale)) !important;
}
